* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow: hidden;
  background: #000;
}
#scene-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url('Atelier8.png'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Aktiv Grotesk";
  z-index: 1000;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.scene-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      217deg,
      rgba(6, 3, 33, 0.8),
      rgba(11, 7, 51, 0.9) 70.71%
    ),
    linear-gradient(
      127deg,
      rgba(16, 10, 82, 0.8),
      rgba(21, 13, 102, 0.9) 70.71%
    ),
    linear-gradient(
      336deg,
      rgba(26, 16, 122, 0.8),
      rgba(31, 19, 143, 0.9) 70.71%
    );
  overflow: hidden;
  overscroll-behavior: none;
}

.scene-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.glass-title {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  font-weight: bold;
  background: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  z-index: 1000;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  animation: gradientFlow 5s ease infinite;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 2rem;
  transform-style: preserve-3d;
}

.tableau {
  position: relative;
  height: 400px;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.tableau:hover {
  transform: translateZ(50px) rotateX(5deg) rotateY(5deg);
}

.fragments-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transform-style: preserve-3d;
}

.fragment {
  position: absolute;
  opacity: 0;
  background-repeat: no-repeat;
  transform-style: preserve-3d;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  overflow: hidden;
  backface-visibility: visible;
  background-blend-mode: overlay;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.reflection {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 45%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0.5) 55%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0.7;
  mix-blend-mode: overlay;
  transform: translateZ(1px);
}

.flash {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
}

/* Animation de brillance sur les bords */
.fragment::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(255, 255, 255, 0.3);
  transform: translateZ(2px);
}

/* Effet de profondeur sur l'image */
.tableau img {
  transform: translateZ(0);
  filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.4));
}

/*loading  */

#loading-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  z-index: 9999;
}

/* Style pour le footer du loader */
.loader-footer {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.loader-footer img {
  width: 40px;
  height: 40px;
  opacity: 0.8;
}

.loader-footer p {
  color: #fff;
  font-family: "Aktiv Grotesk", sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  opacity: 0.6;
}

.loading-title {
  /* position: absolute;
    top: 15%;
    left: 50%; */
  /* transform: translateX(-50%); */
  color: white;
  font-family: Arial, sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  margin-bottom: 30px;
  background: linear-gradient(45deg, #ffffff, #a0a0a0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: titleGlow 2s ease-in-out infinite alternate;
}

@keyframes titleGlow {
  from {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
  to {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  }
}

#percentage,
#mirror-percentage {
  font-family: Arial, sans-serif;
  font-size: 72px;
  color: white;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

#percentage {
  margin-bottom: 20px;
}

#mirror-percentage {
  transform: scaleY(-1);
  opacity: 0.5;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  margin-top: 20px;
  order: 3;
}

#loading-container canvas {
  height: 100px !important;
  margin: 20px 0;
  order: 2;
}

/* Navbar styles */
.navbar {
  position: fixed;
  margin-top: 48px;
  width: 100%;
  height: 8.8%;
  z-index: 1000;
}

.nav-content {
  max-width: 100vw;
  height: 100%;
  padding: 0px 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-title {
  color: #ececec;
  display: flex;
  height: 40px;
  padding: 24px;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.back-button {
  position: absolute;
  left: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}

.back-button img {
  width: 40px;
  height: 40px;
  opacity: 0.6;
}

/* Font styles */
.font-aktiv {
  font-family: "Aktiv Grotesk", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 21px;
  line-height: normal;
  letter-spacing: -0.84px;
}

.font-fraunces {
  font-family: "Fraunces", serif;
  font-size: 21px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.84px;
}

/* Footer styles */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 48px;
  z-index: 1000;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.footer-right {
  display: flex;
  gap: 24px;
}

.footer-content p {
  color: rgba(255, 255, 255, 0.6);
  text-align: right;
  font-family: "Aktiv Grotesk", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  margin: 0;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.footer-content p:hover {
  opacity: 1;
}

.logo-container {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.logo-container p {
  color: #fff;
  text-align: center;
  font-family: "Aktiv Grotesk";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.4px;
  margin: 0;
  opacity: 0.6;
}

.back-button:hover {
  opacity: 1;
  transition: opacity 0.3s ease;
  filter: brightness(2.5);
}

.back-button {
  opacity: 0.5;
}

/* Instructions du miroir */
.mirror-instructions {
  position: fixed;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 1000;
  pointer-events: none;
  animation: fadeIn 1s ease-in-out forwards;
}

.instruction-title {
  font-family: "Aktiv Grotesk", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 12px;
  text-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
  animation: glow 2s ease-in-out infinite alternate;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.instruction-subtitle {
  font-family: "Aktiv Grotesk", sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

@keyframes glow {
  from {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  }
  to {
    text-shadow: 0 0 40px rgba(255, 255, 255, 0.6);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, 20px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

/* Instructions pour les fragments */

.fragment-instructions {
  position: fixed;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 1000;
  pointer-events: none;
  animation: fadeIn 1s ease-in-out forwards;
}

.fragment-instructions .instruction-title {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.fragment-instructions .font-aktiv {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.fragment-instructions .font-fraunces {
  font-size: 14px;
  font-style: italic;
}

/* Barre de progression */

.scroll-progress-container {
  position: fixed;
  left: 50%;
  bottom: 120px;
  transform: translateX(-50%);
  width: 342px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.scroll-progress-bar {
  width: 100%;
  height: 4px;
  background: transparent;
  position: relative;
  perspective: 400px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
}

.scroll-progress-bar::before,
.scroll-progress-bar::after {
  content: "";
  position: absolute;
  top: 0;
  height: 4px;
  width: 50%;
  background: rgba(255, 255, 255, 0.2);
  transform-origin: center;
}

.scroll-progress-bar::before {
  left: 0;
  transform: rotateY(5deg);
}

.scroll-progress-bar::after {
  right: 0;
  transform: rotateY(-5deg);
}

.scroll-progress-fill::before,
.scroll-progress-fill::after {
  content: "";
  position: absolute;
  top: 0;
  height: 4px;
  width: 50.1%;
  background: white;
  transition: transform 0.3s ease;
}

.scroll-progress-fill::before {
  left: 0;
  transform-origin: left center;
  transform: rotateY(5deg) scaleX(calc(var(--progress, 0) * 2))
    translateX(-0.5px);
}

.scroll-progress-fill::after {
  right: 0;
  transform-origin: right center;
  transform: rotateY(-5deg) scaleX(calc(var(--progress, 0) * 2))
    translateX(0.5px);
}

.burger-button,
.loader-burger {
  display: none;
}

@media (max-width: 768px) {
  body {
    margin: 0;
  }

  .burger-button {
    display: block;
    position: absolute;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
  }

  .loader-burger {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .loader-burger p,
  a {
    font-family: "Aktiv Grotesk", sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 12.8px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: auto;
    color: rgba(92, 92, 102, 1);
  }

  .burger-button img {
    width: 24px;
    height: 24px;
    opacity: 0.6;
    transition: opacity 0.3s ease;
  }

  .burger-button:hover img {
    opacity: 1;
  }

  .side-menu {
    position: fixed;
    left: -100%; /* Changé de -300px à -100% */
    top: 0;
    width: 100%; /* Changé de 300px à 100% */
    height: 100vh;
    background: rgba(21, 21, 27, 0.95);
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
  }

  .side-menu.open {
    transform: translateX(100%); /* Changé de 300px à 100% */
  }

  .menu-content {
    padding: 55px 24px 24px 24px;
    color: white;
    display: flex; /* Ajouté */
    flex-direction: column; /* Ajouté */
    height: 100%; /* Ajouté */
    gap: 55.28px;
  }

  .menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-header p {
    font-family: "Aktiv Grotesk", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.48px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .menu-list {
    list-style: none;
    padding: 0;
    text-align: start; /* Ajouté */
    width: 100%; /* Ajouté */
  }

  .menu-list li {
    margin-bottom: 25px;
  }

  .menu-list a {
    color: white;
    text-decoration: none;
    font-family: Fraunces;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.08px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    transition: opacity 0.3s ease;
  }

  .menu-list a:hover {
    opacity: 1;
  }

  .close-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    opacity: 0.6;
    transition: opacity 0.3s ease;
  }

  .close-button:hover {
    opacity: 1;
  }

  .btn-main-CTA {
    position: relative;
    padding: 6.5px 24px;
    border: none;
    border-radius: 4px;
    background: linear-gradient(
      343.92deg,
      rgba(21, 21, 27, 0.2) -1.4%,
      rgba(79, 79, 86, 0.2) 104.72%
    );
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: -0.02px;
    text-align: center;
    backdrop-filter: blur(7.5px);
  }

  .btn-main-CTA::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    border-radius: 4px;
    background: linear-gradient(
      343.92deg,
      rgba(255, 255, 255, 0.3) -1.4%,
      rgba(255, 255, 255, 0.1) 104.72%
    );
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    pointer-events: none;
  }
}

/* Styles pour la popup */
body.popup-active {
  overflow: hidden;
}

.subtitle-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2000;
  
  display: flex;
  width: 440px;
  height: 700px;
  padding: 8px 48px 0px 48px;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  
  border-radius: 0px 8px 8px 0px;
  border: 1px solid #FFF;
  background: linear-gradient(344deg, rgba(21, 21, 27, 0.64) -1.4%, rgba(79, 79, 86, 0.64) 104.72%);
  backdrop-filter: blur(24px);
  pointer-events: all;
}

/* popup */

.subtitle-popup.active {
  transform: translateY(0);
}

.popup-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.students-list {
  display: flex;
  padding-bottom: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  flex: 1;
  align-self: stretch;
  max-height: calc(100vh - 200px); 
}

.students-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  width: 100%;
  padding: 12px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.students-rows {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
  flex: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.students-rows::-webkit-scrollbar {
  display: none;
}

.students-rows::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}

.students-rows::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}

.students-rows::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}

.student-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  padding: 8px 0;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  min-height: fit-content;
}

.student-nom,
.student-prenom,
.student-classe {
  display: flex;
  align-items: center;
  overflow: hidden;
  color: #E6E6E6;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Aktiv Grotesk";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.24px;
  text-transform: uppercase;
}


.header-nom,
.header-prenom,
.header-classe {
  overflow: hidden;
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Aktiv Grotesk";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.2px;
  text-transform: uppercase;
}

.student-classe {
  display: flex;
  align-items: center;
  overflow: hidden;
  color: #E6E6E6;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Aktiv Grotesk";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.24px;
  text-transform: uppercase;
  gap: 4px;
}

.popup-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-bottom: 24px; 
}

.popup-close {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
  color: white;
  opacity: 0.8;
  transition: opacity 0.2s ease;
  z-index: 2001;
  touch-action: manipulation; 
}

.popup-close:hover {
  opacity: 1;
}

.popup-close svg {
  width: 24px;
  height: 24px;
}

/* Ajuster pour mobile */
@media (max-width: 768px) {
  .subtitle-popup {
    width: 100%;
    height: 90vh;
    padding: 8px 24px 0px 24px;
    border-radius: 8px 8px 0 0;
  }

  .popup-header {
    margin-bottom: 16px; 
  }

  .students-list {
    padding-bottom: 16px; 
  }

  .students-rows {
    padding-right: 12px;
    margin-right: -12px;
  }

  .popup-close {
    position: fixed; 
    top: 16px; 
    right: 16px;
    padding: 12px;
    transform: scale(1.2); 
  }

  .students-list {
    max-height: calc(97vh - 150px);
  }
}


@media (max-height: 600px) {
  .subtitle-popup {
    height: 85vh;
  }

  .students-rows {
    max-height: calc(85vh - 100px);
  }
}

/* Ajout du style pour le texte fixe */
.fragment-label {
    position: fixed;
    bottom: 120px;
    left: 48px;
    pointer-events: auto;
    z-index: 100;
    text-align: left;
    transition: opacity 0.3s ease;
}

.label-content {
    color: white;
    max-width: 300px;
}

.label-content h2 {
    font-family: "Fraunces", serif;
    font-size: 32px;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.84px;
    margin-bottom: 8px;
}

.label-content .subtitle {
    font-family: "Aktiv Grotesk", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.28px;
    opacity: 0.6;
}

@media (max-width: 768px) {
    .fragment-label {
        bottom: 100px;
        left: 24px;
    }

    .label-content h2 {
        font-size: 24px;
    }
}



.footer-left {
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .footer-left.centered {
    position: fixed;
    left: 50%;
    bottom: 25px;
    transform: translateX(-50%);
    z-index: 1000;
  }
}



@media screen and (max-width: 768px) {
  .fragment-instructions {
    width: 100%;
    padding: 1rem;
    text-align: center;
  }

  .fragment-instructions .instruction-title {
    display: block;
    white-space: normal;
    word-wrap: break-word;
    line-height: 1.4;
    margin-bottom: 0.5rem;
  }

  .fragment-instructions .instruction-subtitle {
    display: block;
    white-space: normal;
    word-wrap: break-word;
    line-height: 1.3;
    font-size: 0.9rem;
  }

  .font-aktiv,
  .font-fraunces {
    display: inline;
    white-space: normal;
  }
}